<div class="main">
  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Let's talk about us</h2>
      <div class="row">
        <div class="col-md-4">
          <app-card-profile
            [imgRoute]="'./assets/img/faces/erik-lucatero-2.jpg'"
            [role]="'Back'"
            [description]="'M4 Chustero'"
            [name]="'Antonio'"
          ></app-card-profile>
        </div>
        <div class="col-md-4">
          <app-card-profile
            [imgRoute]="'./assets/img/faces/erik-lucatero-2.jpg'"
            [role]="'Punta'"
            [description]="'Pistolica Rosa'"
            [name]="'Guy'"
          ></app-card-profile>
        </div>
        <div class="col-md-4">
          <app-card-profile
            [imgRoute]="'./assets/img/faces/erik-lucatero-2.jpg'"
            [role]="'Back'"
            [description]="'M4 vacilón'"
            [name]="'Hector'"
          ></app-card-profile>
        </div>
        <div class="col-md-4">
          <app-card-profile
            [imgRoute]="'./assets/img/faces/erik-lucatero-2.jpg'"
            [role]="'Back'"
            [description]="'M4 Chustero'"
            [name]="'Antonio'"
          ></app-card-profile>
        </div>
        <div class="col-md-4">
          <app-card-profile
            [imgRoute]="'./assets/img/faces/erik-lucatero-2.jpg'"
            [role]="'Back'"
            [description]="'M4 Chustero'"
            [name]="'Antonio'"
          ></app-card-profile>
        </div>
        <div class="col-md-4">
          <app-card-profile
            [imgRoute]="'./assets/img/faces/erik-lucatero-2.jpg'"
            [role]="'Back'"
            [description]="'M4 Chustero'"
            [name]="'Antonio'"
          ></app-card-profile>
        </div>
      </div>
    </div>
  </div>
</div>
