<div class="main">
  <div class="section">
    <div class="container">
      <h2 class="title">Contact us</h2>
      <div class="row">
        <div class="col-sm-6">
          <form>
            <div class="form-group">
              <label for="text" class="form-label">Email</label>
              <input type="text" class="form-control" placeholder="Email" />
            </div>
            <div class="form-group">
              <label for="text" class="form-label">Phone</label>
              <input
                type="text"
                class="form-control"
                placeholder="(Optional)"
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                rows="5"
                placeholder="Tell us your thoughts"
              ></textarea>
            </div>
            <div class="row">
              <button type="button" class="btn btn-info btn-link">
                Submit!
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="row">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104040.5682139701!2d-0.7252232625978818!3d38.313443228797794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63c9b0b9b5a1e5%3A0xd07bc39f708e11b9!2sPentagon%20Airsoft%20Camp!5e0!3m2!1ses!2ses!4v1613258061619!5m2!1ses!2ses"
              width="600"
              height="450"
              frameborder="0"
              style="border: 0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
